// Webfonts

// Global styles

// Use the system font stack
body {
	font-family: -apple-system,
	            BlinkMacSystemFont,
	            "Segoe UI",
	            Roboto,
	            Oxygen-Sans,
	            Ubuntu,
	            Cantarell,
	            "Helvetica Neue",
	            sans-serif;

  color: $textColour;

  // Nicer font rendering
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  // Baseline flexible
  font-size: 100%;
  line-height: 1.2;

  @include tabletOnwards {
    font-size: 120%;
  }

  @include desktopOnwards {
    font-size: 130%;
  }
}

// Remove default weight from headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

// Default link styling
a {
	&:link {
		color: $linkColour;
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
	&:active {
		background-color: red;
	}
	&:visited {
		color: $linkColour;
	}
}
