// Variables

// Colours
$textColour: #6c6c6c;
$linkColour: black;
$paleBlue: #aec1d3;

$green: #aad3b3;
$yellow: #e1e2b6;
$pink: #fadce7;
$peach: #f1d8be;
$blue: #a4b9ce;

// Mesurements
$contentWidth: 1000px;

// Breakpoints
$smallBreakpoint: 400px;
$mediumBreakpoint: 800px;
$largeBreakpoint: 1000px;

// Mixins

//Responsive mixins
@mixin mobileOnwards {
  @media (min-width: #{$smallBreakpoint}) {
    @content;
  }
}
@mixin tabletOnwards {
  @media (min-width: #{$mediumBreakpoint}) {
    @content;
  }
}
@mixin desktopOnwards {
  @media (min-width: #{$largeBreakpoint}) {
    @content;
  }
}

// Placeholders
%marginAuto {
  margin: 0 auto;
}

%centerText {
  text-align: center;
}

%fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%hyphenate {
  // Allow words to break and use hyphenation
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
